*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
}

:root {
    /* COLORS */
    /* FONT */

    --font-title: 48px;
    --font-card: 14px;
    --font-form: 16px;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

label {
    margin-right: 8px;
}

.header {
    height: 150px;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

button, input[type='submit'] {
    background-color: rgba(72, 0, 72, 0.795);
    color: white;
    font-size: var(--font-form);
    border: none;
    border-radius: 5px;
    padding: 8px;
}

h1 {
    font-weight: 900;
    font-size: var(--font-title);
}

.shelf {
    background-color: rgba(244, 244, 244, 0.63);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    flex: 1;
    padding: 20px;
}

button:hover{
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.popup-content{
    background-color: white;
    margin: 10%;
    padding: 20px;
    border: 2px solid rgba(244, 244, 244, 0.63);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.form-container {
    margin: 20px 0px;
}

.close{
    margin-left: auto;
}

.close:hover {
    cursor: pointer;
}

.book {
    background-color: beige;
    padding: 16px;
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(72, 0, 72, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book > * {
    font-size: var(--font-form);
}

.book > h4 {
    font-size: calc(var(--font-card)*1.5);
}

.book > h5 {
    font-size: calc(var(--font-card)*1.2);
}

.book > img {
    height: 20px;
    width: 20px;
    margin-left: auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1;
    gap: 8px;
}
